body {
  background-color: var(--color-background-page);
  color: var(--color-text);
}
header {
  background-color: var(--color-background-header);
  color: var(--color-text-header);
}
header a {
  color: var(--color-orange);
}
h2 {
  color: var(--color-coral);
}
a {
  color: var(--color-link);
}
