:root {
  --color-teal:   #2f5050;
  --color-orange: #f4a462;
  --color-coral:  #e76e50;
  --color-cream:  #f8f0e8;
  --color-red:    #d10000;

  --color-background-page:   var(--color-cream);
  --color-background-header: var(--color-teal);
  --color-text:              var(--color-teal);
  --color-text-header:       var(--color-cream);
  --color-accent:            var(--color-coral);
  --color-link:              var(--color-orange);
  --color-danger:            var(--color-red);

  --space-xs: 4px;
  --space-sm: 8px;
  --space-md: 16px;
  --space-lg: 24px;
  --space-xl: 40px
}
  body.dark-mode { 
    --color-background-page:   var(--color-teal);
    --color-background-header: var(--color-cream);
    --color-text:              var(--color-cream);
    --color-text-header:       var(--color-teal);
    --color-accent:            var(--color-orange);
    --color-link:              var(--color-coral);
    --color-danger:            var(--color-red);
  }
